
.ul,li,p,h1,h2,h3,a{
    list-style-type: none;
    text-decoration: none;
}
/* Styles for header  */
.header{
    background-color:  #121212;
width: 1920px;
height: 100px;
}
.header-list{
display: flex;
gap:100px;
padding-bottom: 32px;
padding-top: 32px;
}
.header-link-one{
    font-weight: 400;
    font-family:  "Oswald", sans-serif;
font-size: 24px;
color: #b2ffa6;
}
.header-link{
    font-weight: 400;
    font-family:  "Oswald", sans-serif;
font-size: 24px;
color: #fff;
}
/* Styles for section one*/
.hero{
    background: #fff;
    width: 1920px;
height: 800px;
}
.hero-container{
    
}
}
.hero-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #000;
    
    
}
.hero-span{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #000;
    
    
}
.hero-button{
    border-radius: 5px;
    padding: 15px 80px;
    width: 364px;
    height: 66px;
    background-color: #b2ffa6;
    font-family:"Oswald", sans-serif ;
font-weight: 400;
font-size: 24px;
color: #000;
}
.hero-img{
    width: 800px;
height: 800px;

}
/* Styles for section two */

/* Styles for Footer */
.footer container{

}
.footer-wrapper{
    
}
.footer{
    background-color: #121212;
    width: 1920px;
    height: 150px;
}
.footer-img{

    
}
.footer-text{
    font-family: "Raleway", sans-serif;
font-weight: 400;
font-size: 24px;
}