body{
    margin: 0;
    padding: 0;

}
.container{
    width: 1620px;
    margin: 0 auto;
    font-family:  "Raleway", sans-serif;
    font-size: 24px;
}
ul,p,h1,h2,h3{
    list-style-type: none;
   margin: 0;
   padding: 0;
}
a{
    text-decoration: none;
}
/* Styles for header  */
.header{
    background-color:  #121212;
    padding: 32px 0;
    text-transform: uppercase;
}
.header-list{
display: flex;
gap:100px;
}
.header-link:hover{
    font-family:"Oswald", sans-serif ;
font-weight: 400;
font-size: 24px;
color: #b2ffa6;
}
.header-link{
    font-weight: 400;
    font-family:  "Oswald", sans-serif;
font-size: 24px;
color: #fff;
}
/* Styles for section one*/
.hero{
    background: #fff; 
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-weight: 700;
    font-size: 64px;
    color: #000;
    margin-bottom: 50px;
    text-transform: capitalize;
}
.hero-span{
    font-weight: 400;
    font-size: 64px;
    color: #000;
    margin-bottom: 20px;
    }
.hero-button{
    border-radius: 5px;
    padding: 15px 80px;
    width: 364px;
    height: 66px;
    background-color: #b2ffa6;
    font-family:"Oswald", sans-serif ;
font-weight: 400;
font-size: 24px;
color: #000;
text-transform: uppercase;
}
/* Styles for section two */
.about-us{
    background-color: #efefef;
}
.about-us-container{
display: flex;
align-items: center;
}
.about-us-title{
    gap:30px;
    font-weight: 700;
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.about-us-text{
    font-weight: 400;
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
}
.button{
    margin-top: 60px;
}
.about-us-button{
    border-radius: 5px;
    padding: 15px 80px;
    background: #b2ffa6;
    font-family:"Oswald", sans-serif ;
font-weight: 400;
color: #000;
display: inline-block;
text-transform: uppercase;
}
/* Styles for section three */
.advantages{
    background-color: #fff;
padding: 60px 0 ;

}
.advantages-container{
    display: flex; 
    align-items: center;
}
.advantages-caption{
    font-weight: 700;
    font-size: 32px;
    color: #000;
    margin-bottom: 25px;
}
.advantages-text{
font-weight: 400;
font-size: 24px;
color: #000;
}
.advantages-list{
display: flex;
flex-wrap: wrap;
gap:115px;
}
.advantages-item{
display: flex;
width: 407px;
}
.advantages-image{
    
}
.advantages-img{
margin-right: 28px;
width: 50px;
height: 50px;
}
/* Styles for section four */
.services{
    background-color: #efefef;
    padding: 60px 0;
    text-align: center;
}
.services-container{
  
}

.services-title{
font-weight: 700;
font-size: 40px;
text-align: center;
color: #000;
padding-top: 60px;
padding-bottom: 40px;
}
.services-text{
font-weight: 400;
font-size: 32px;
text-align: center;
color: #000;
margin-bottom: 56px;
}
.services-img{
    border-radius: 10px;
    margin-right: 20px;
}
.services-texto{
font-weight: 600;
font-size: 24px;
color: #000;
text-align: left;
}
.services-list{
display: flex;
}
.services-button{
    border: 3px solid #b2ffa6;
border-radius: 5px;
padding: 15px 80px;
font-family:"Oswald", sans-serif ;
font-weight: 400;
font-size: 24px;
color: #000;
display: inline-block;
justify-content: center;
text-transform: uppercase;
}
/* Styles for Footer */
.footer-container{
display: flex;
justify-content: space-between;
}
.footer{
    background-color: #121212;
}
.footer-img{
margin-top: 36px ;
margin-bottom: 36px;
}
.footer-text{
    font-family: "Raleway", sans-serif;
font-weight: 400;
font-size: 24px;
color: #fff;
margin-top: 61px;
text-transform: capitalize;
}